// 整个项目的样式(尤其是颜色)配置

@global_background_color: #fff;
@default_rem: 18px; // 1rem = 18px
@global_emphasis_color: #269cf7;    // 相当于全局的主题色
@global_font_weight: 600;



@mobile_rem: 14px;  // 1rem = 14px
@mobile_menu_color: #16213f;
@mobile_menu_font_color: @global_background_color;
@mobile_menu_font_size: 1rem;



@header_height: 4rem;
@header_font_color: @footer_background_color;


@footer_background_color: #0d1730;
@footer_font_color: @global_background_color;
@footer_font_size: 1rem;


@intro_background_color: #0d1730;
@intro_container_padding: 2rem;


@introItem_home_background_color: #0d1730;
@introItem_home_font_size: 2rem;
@introItem_home_avatar_background_color: @global_emphasis_color;
@introItem_home_contact_font_color: #fff;



@introItem_aboutme_title_font_size: 1.8rem;
@introItem_aboutme_introduce_padding: 4rem;
@introItem_aboutme_introduce_title_font_size: 1.5rem;
@introItem_aboutme_introduce_content_font_size: 1rem;



@introItem_skills_introduce_title_font_size: 1.5rem;
@introItem_skills_introduce_content_font_size: 0.9rem;
@introItem_skills_introduce_content_line_height: 1.5;
@introItem_skills_skill_item_icon_size: @introItem_skills_introduce_title_font_size;
@introItem_skills_skill_item_hover_animation_duration: 0.2s;




@introItem_works_work_item_width: 19.167rem;
@introItem_works_work_item_height: 13rem;






// flex布局的垂直水平居中样式
#flex_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}



// intro中每个介绍项的container布局
#intro_container() {
    #flex_center();
    flex-direction: column;
    padding: @intro_container_padding;

    .title {
        display: inline-block;
        position: relative;
        font-weight: @global_font_weight;
        font-size: @introItem_aboutme_title_font_size;
        color: @global_emphasis_color;

        &::after {
            position: absolute;
            content: '';
            width: 80px;
            height: 0.18rem;
            left: 0;
            right: 0;
            margin: auto;
            top: 2.5rem;
            background-color: @global_emphasis_color;
        }
    }
}


#cls_mp() {
    margin: 0;
    padding: 0;
}


